section.app 
    .container 
        .app-wrap 
            .app__block-img
                .app-img
                    img(src="./img/download/iphone.png", alt="iphone.png")
            article.app__block-article
                h4.app__block-article-title Download Our Free App!
                p.app__block-article-text Download our free app and stay up to date with all our latest discounts, articles and reviews. Take a look at all the world’s top destinations and decide where to spend your perfect vacation.
                .app__block-article-btn
                    +button('Download Now')
