section.articles
    .container 
        .articles-wrap 
            +article-card('4', 'article-card-paris', '01.jpg', 'article-01', 'Magical Paris', '2436')
                p City of light, one of the most famous cities in the world is waiting to be explored. Some of the most famous museums, food and landmarks are waiting for you in Paris.
            +article-card('4', 'article-card-london', '02.jpg', 'article-02', 'Classic London', '5438')
                p City of history, one of the most famous cities in the world is waiting to be explored. Some of the most famous museums, food, pubs and landmarks are waiting for you in London.
            +article-card('5', 'article-card-usa', '03.jpg', 'article-03', 'Famous New York', '1256')
                p City of fashion and yellow cabs, one of the most famous cities in the world is waiting to be explored. Some of the most famous museums, food and landmarks are waiting for you in New York.