section.banner-video
    .container 
        .banner-video-wrap
            h3.banner-video__title See Dubai from the sky
            .banner-video__item.active
                .banner-video__item-slide
                    button.banner-video__item-slide-btn(banner-video-remove)
                        img(src="./img/video/play.png", alt="play-video")
                    img(src="./img/video/slide.jpg", alt="slide-video")
                iframe(width="700" height="450" src="https://www.youtube.com/embed/GeGRBGDsSDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)