section.cards-carousel
    .container.rel
        .cards-carousel-wrap.owl-carousel.owl-theme 
            +cards-carousel-item('01.jpg', '#', 'Professional Guides', 'Sea Voyages', '126', '4')
            +cards-carousel-item('02.jpg', '#', 'Safe Guides', 'Mountain Climbs', '241', '3')
            +cards-carousel-item('03.jpg', '#', 'Expert Drivers', 'Quad Rides', '296', '5')
            +cards-carousel-item('04.jpg', '#', 'Professional Guides', 'Air Tourism', '321', '3')
            +cards-carousel-item('05.jpg', '#', 'Safe Guides', 'Sea Slides', '425', '5')
            +cards-carousel-item('06.jpg', '#', 'Professional Guides', 'Mountain Climbs', '187', '4')
        .cards-carousel-nav 
            button.cards-carousel-nav-btn.cards-carousel-nav-prev 
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="27px"> <path fill-rule="evenodd"  fill="rgb(134, 134, 134)" d="M0.004,13.383 C0.004,13.166 0.111,12.841 0.326,12.623 L11.093,0.699 C11.524,0.266 12.171,0.266 12.601,0.591 C13.031,1.025 13.031,1.675 12.708,2.109 L2.587,13.383 L12.708,24.549 C13.139,24.983 13.031,25.634 12.601,26.066 C12.171,26.500 11.524,26.392 11.093,25.958 L0.326,14.034 C0.111,13.925 0.004,13.600 0.004,13.383 Z"/></svg>
            button.cards-carousel-nav-btn.cards-carousel-nav-next 
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="27px"> <path fill-rule="evenodd"  fill="rgb(134, 134, 134)" d="M12.996,13.383 C12.996,13.166 12.889,12.841 12.674,12.623 L1.907,0.699 C1.476,0.266 0.829,0.266 0.399,0.591 C-0.031,1.025 -0.031,1.675 0.292,2.109 L10.413,13.383 L0.292,24.549 C-0.139,24.983 -0.031,25.634 0.399,26.066 C0.829,26.500 1.476,26.392 1.907,25.958 L12.674,14.034 C12.889,13.925 12.996,13.600 12.996,13.383 Z"/> </svg>