section.catalog
	.catalog__nav
		.container
			.catalog__nav-wrap
				h5.catalog__nav-title Where do you want to travel today?
				.catalog__nav-row 
					.catalog__nav-meta
						+meta('USA')
						+meta('New York')
						+meta('City Life')
						+meta('Cheap')
					.catalog__nav-sort
						input#catalog-nav-sort-radio-list(type="radio", name="catalog-sort-radio", class='catalog-nav-sort-radio' checked)
						label(for="catalog-nav-sort-radio-list") List View
						input#catalog-nav-sort-radio-map(type="radio", name="catalog-sort-radio", class='catalog-nav-sort-radio')
						label(for="catalog-nav-sort-radio-map") Map View
						.catalog__nav-sort-dropdown 
							+dropdown('Sort By', 'New', 'Popular', 'History', 'Watch later')
	.catalog__content
		.container
			.catalog__content-wrap 
				.catalog__content-col
					+big-card-catalog('New York Skyline Tour The best of New York', '4', 'catalog-tour-best', '292', '01.jpg', '01', '25', 'Take a look at New York from above, the best way to see this city. You will find all the classic buildings, sights and more plus there is a lunch after the tour classic buildings, sights and more plus there is a lunch after the tour.', '121')
					+catalog-menu()
				.catalog__content-col
					+big-card-catalog('New York Skyline Walking tour', '5', 'catalog-tour-walking', '317', '02.jpg', '02', '15', 'Take a look at New York from above, the best way to see this city. You will find all the classic buildings, sights and more plus there is a lunch after the tour classic buildings, sights and more plus there is a lunch after the tour.', '43')
					+catalog-destination()
					+catalog-trip-type()
					+catalog-class()
				.catalog__content-col
					+big-card-catalog('New York Skyline The Food Tour', '4', 'catalog-tour-food', '146', '03.jpg', '03', '35', 'Take a look at New York from above, the best way to see this city. You will find all the classic buildings, sights and more plus there is a lunch after the tour classic buildings, sights and more plus there is a lunch after the tour.', '423')
					+catalog-question('Where country you want to go?', '#', 'Where city you want to go?', '#')
					+catalog-range()
					+catalog-carry()
			.catalog__pagination
				.catalog__pagination-links 
					a(href="#").catalog__pagination-link 1 
					a(href="#").catalog__pagination-link 2 
					a(href="#").catalog__pagination-link 3 
					a(href="#").catalog__pagination-link 4 
					a(href="#").catalog__pagination-link 5 
				button.catalog__pagination-btn.catalog__pagination-btn--prev
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="27px"> <path fill-rule="evenodd"  fill="rgb(134, 134, 134)" d="M0.004,13.383 C0.004,13.166 0.111,12.841 0.326,12.623 L11.093,0.699 C11.524,0.266 12.171,0.266 12.601,0.591 C13.031,1.025 13.031,1.675 12.708,2.109 L2.587,13.383 L12.708,24.549 C13.139,24.983 13.031,25.634 12.601,26.066 C12.171,26.500 11.524,26.392 11.093,25.958 L0.326,14.034 C0.111,13.924 0.004,13.600 0.004,13.383 Z"/> </svg>
				button.catalog__pagination-btn.catalog__pagination-btn--next
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="27px"> <path fill-rule="evenodd"  fill="rgb(134, 134, 134)" d="M12.996,13.383 C12.996,13.166 12.889,12.841 12.674,12.623 L1.907,0.699 C1.476,0.266 0.829,0.266 0.399,0.591 C-0.031,1.025 -0.031,1.675 0.292,2.109 L10.413,13.383 L0.292,24.549 C-0.139,24.983 -0.031,25.634 0.399,26.066 C0.829,26.500 1.476,26.392 1.907,25.958 L12.674,14.034 C12.889,13.924 12.996,13.600 12.996,13.383 Z"/> </svg>
