section.copy 
    .container 
        .copy-wrap 
            h6.copy__text © 2017 TakeMe Free UI Kit
            ul.copy__table 
                 li.copy__table-item
                    a(href="#").copy__table-link Privacy Policy
                 li.copy__table-item
                    a(href="#").copy__table-link Terms of Use
                 li.copy__table-item
                    a(href="#").copy__table-link Cookies Policy
