section.header 
    .header__carousel-wrap
        .header__carousel.owl-carousel.owl-theme 
            .header__carousel-item
                img(src="./img/header-carousel/01.jpg", alt="01.jpg")
            .header__carousel-item
                img(src="./img/header-carousel/02.jpg", alt="02.jpg")
    .header__form-wrap 
        .container 
            .header__form