section.map 
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A5aa6d2f10a44d06d83cc20f0715991374d11619bea23f269b09b0141f0ac3fdd&amp;source=constructor" width="100%" height="450" frameborder="0"></iframe>