section.nav
    .container
        nav.nav-wrap
            a(href="#").nav__logo TakeMe
            ul.nav__links 
                li.nav__links-item
                    a(href='#').nav__links-link Locations
                li.nav__links-item
                    a(href='#').nav__links-link Accommodation
                li.nav__links-item
                    a(href='#').nav__links-link Travel Guides
                li.nav__links-item
                    a(href='#').nav__links-link Where To Stay
                li.nav__links-item
                    a(href='#').nav__links-link Contact Us
                li.nav__links-item
                    a(href='#').nav__links-link Log In
