section.newsletter
    .container 
        .newsletter-wrap 
            .newsletter__info
                h3.newsletter__info-title Subscribe to our newsletter
                h5.newsletter__info-subtitle And receive all the latest news, discounts and updates about the most visited locations from around the globe, daily.
            form.newsletter__btn 
                +button('Subscribe')