section.story
    .container 
        .story-wrap
            .story__info
                h3.story__info-title Magical Santorini Greece’s Jewel
                p.story__info-text Candy-colored houses carved into cliffs, sapphire waters, gleaming white buildings topped with half-spheres the color of a stormy sky.
                .story__info-link 
                    +button-link('#', 'Explore More')
            .story__carousel-wrap 
                .story__carousel.owl-carousel.owl-theme 
                    .story__carousel-item
                        img(src="./img/story/01.jpg", alt="story-01")
                    .story__carousel-item
                        img(src="./img/story/02.jpg", alt="story-02")
                    .story__carousel-item
                        img(src="./img/story/01.jpg", alt="story-01")
                    .story__carousel-item
                        img(src="./img/story/02.jpg", alt="story-02")
                    .story__carousel-item
                        img(src="./img/story/01.jpg", alt="story-01")
                    .story__carousel-item
                        img(src="./img/story/02.jpg", alt="story-02")
                    .story__carousel-item
                        img(src="./img/story/01.jpg", alt="story-01")
