* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #000;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  user-select: none;
  background: #f6f6f6;
}

input,
textarea {
  font-size: 16px;
  line-height: 1.5;
  resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.db {
  display: block;
}

.rel {
  position: relative;
}

img {
  pointer-events: none;
}

.hidden {
  // margin: 0 !important;
  // padding: 0 !important;
  max-height: 55px;
  // overflow: hidden;
  // visibility: hidden;
}

.anim-active {
  animation: anim-catalog-body-active 2s forwards 0s;
  max-height: 1000px;
}

.anim-off {
  animation: anim-catalog-body-off 2s forwards 0s;
}