.footer {
  position: relative;
  width: 100%;
  padding: 50px 0 40px;
  border-bottom: 1px solid #e2e2e2;
  z-index: 200;

  @media (min-width: 420px) {
    padding: 80px 0 40px;
  }
}

.footer__table {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px 0px;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 30px;
  }

  @media (min-width: 900px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 470px;
  }
}

.footer__table-title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  color: rgb(52, 52, 52);
  line-height: 1;
}

.footer__table-link {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  color: rgb(134, 134, 134);
  line-height: 1;
  text-decoration: none;
  transition: color 0.3s linear;

  &::before {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    background: $blueColor;
    opacity: 0;
    transition: opacity 0.3s linear, bottom 0.3s linear;
  }

  &:hover {
    color: $blueColor;

    &::before {
      opacity: 1;
      bottom: -3px;
    }
  }
}

.footer__table-item:first-child + .footer__table-item {
  margin-top: 50px;
}

.footer__table-item + .footer__table-item {
  margin-top: 20px;
}

.footer__table-col {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 1200px) {
    max-width: 150px;
    display: block;
  }
}

.footer__table-col::before {
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background: #e2e2e2;

  @media (min-width: 600px) {
    content: none;
  }
}

.footer__table-col--big {
  width: 100%;

  @media (min-width: 600px) {
    max-width: 470px;
  }

  @media (min-width: 1200px) {
    max-width: 470px;
  }
}

.footer__table-social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.3s linear;

  svg path {
    transition: fill 0.3s linear;
  }

  &:hover {
    border: 2px solid $blueColor;

    svg path {
      fill: $blueColor;
    }
  }
}

.footer__table-social-link + .footer__table-social-link {
  margin-left: 30px;
}

.footer__table-form-row {
  display: flex;
  flex-direction: column;
  
  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-email-form {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  color: rgb(134, 134, 134);
  line-height: 1;
  text-align: left;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  width: 270px;
  height: 45px;
  padding: 0 20px;
  border: none;
  outline: none;
}

.footer__table-form-btn {
  width: 270px;
  margin-top: 15px;

  @media (min-width: 1200px) {
    width: 170px;
    margin-top: 0;
  }
}
