.header {
  position: relative;
  padding-top: 135px;
  width: 100%;
  height: 600px;
  background: #707172;
  box-shadow: 0 20px 0px $boxShadow;
  margin-bottom: 20px;
  z-index: 200;

  @media (min-width: 480px) {
    height: 835px;
  }
}

.header__form-wrap {
  padding-top: 60px;
  z-index: 100;

  @media (min-width: 480px) {
    padding-top: 160px;
  }

  @media (min-width: 1200px) {
    padding-top: 230px;
  }
}

.header__form-title {
  margin-bottom: 20px;
  font-size: 32px;
  font-family: "Roboto-Bold";
  color: $whiteColor;
  font-weight: bold;
  line-height: 1;
  text-align: center;

  @media (min-width: 420px) {
    font-size: 44px;
  }

  @media (min-width: 720px) {
    font-size: 48px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.header__form-subtitle {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  color: $whiteColor;
  line-height: 1;
  text-align: center;

  @media (min-width: 720px) {
    font-size: 16px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 80px;
  }
}

.header__form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__form > * + * {
  margin-top: 10px;

  @media (min-width: 1200px) {
    margin-top: 0px;
  }
}

.header__form-number,
.header__form-search,
.header__form-dropdown {
  display: inline-flex;
  width: 100%;
  height: 46px;
  padding: 0 30px;
  border-width: 2px;
  border-color: #f5f5f5;
  border-style: solid;
  border-radius: 4px;
  background-color: $bgWhite;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  color: rgb(183, 183, 183);
  line-height: 16px;
  outline: none;
  transition: border 0.4s ease-in-out;

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto-Regular";
    color: rgb(183, 183, 183);
    line-height: 16px;
  }

  &:hover {
    border-color: #8eddff;
  }

  &:focus {
    border-color: $blueColor;
  }
}

.header__form-search {
  width: 270px;
  z-index: 50;

  @media (min-width: 1200px) {
    width: 367px;
  }
}

.header__form-dropdown {
  cursor: pointer;
}

.header__form-dropdown-block {
  width: 270px;
  z-index: 100;

  svg {
    pointer-events: none;
  }
}

.header__form-dropdown-block.active {
  background: $bgWhite;
  border-radius: 4px;

  svg {
    transform: rotate(180deg) translateY(3px);
  }
}

.header__form-dropdown-items {
  position: absolute;
  background: #fff;
  border-radius: 0px 0px 6px 6px;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.header__form-dropdown-items.active {
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
}

.header__form-dropdown-items.active .header__form-dropdown {
  transition: background 0.4s ease-in-out;
}

.header__form-dropdown-items.active .header__form-dropdown:hover {
  background: #cfcfcf;
}

.header__form-number {
  width: 270px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.header__form-quantity-block {
  position: relative;
  z-index: 50;

  &:hover,
  &:focus {
    .header__form-quantity-btn {
      opacity: 1;
    }
  }
}

.header__form-dropdown-block {
  position: relative;

  svg {
    position: absolute;
    top: 24px;
    right: 20px;
    transform: translateY(-50%);
    fill: #b7b7b7;
  }
}

.header__form-quantity-btn {
  position: absolute;
  opacity: 0;
  padding: 0px;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  color: rgb(183, 183, 183);
  border-width: 2px;
  border-color: rgb(211, 211, 211);
  border-style: solid;
  border-radius: 4px;
  background-color: $bgWhite;
  outline: none;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    color: rgb(83, 43, 43);
    border-color: rgb(83, 43, 43);
  }
}

#btn-quantity-plus {
  top: 2px;
  right: 10px;
}

#btn-quantity-minus {
  bottom: 2px;
  right: 10px;
}

.header__form-submit-block {
  width: 270px;
  z-index: 50;

  @media (min-width: 1200px) {
    width: 172px;
  }
}

.header__carousel-wrap {
  position: absolute;
  top: 135px;
  left: 0;
  width: 100%;
  height: 475px;
  z-index: -100;

  @media (min-width: 1200px) {
    height: 700px;
  }
}

.header__carousel {
  position: relative;
  overflow: hidden;
}

.header__carousel-item {
  position: relative;
  height: 475px;

  @media (min-width: 480px) {
    height: 700px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.header__carousel-item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(
    0deg,
    rgba(31, 37, 52, 0.5) 0%,
    rgba(102, 102, 102, 0.5) 50%,
    rgba(31, 37, 52, 0.5) 100%
  );
}
