.newsletter {
  position: relative;
  width: 100%;
  padding: 90px 0;
  box-shadow: 0 20px 0px $boxShadow;
  margin-bottom: 20px;
  z-index: 200;
}

.newsletter-wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: 1000px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.newsletter__info {
  @media (min-width: 720px) {
    max-width: 600px;
  }
}

.newsletter__info-title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto-Bold";
  color: rgb(134, 134, 134);
  line-height: 1;
  text-align: center;

  @media (min-width: 420px) {
    font-size: 48px;
  }

  @media (min-width: 720px) {
    text-align: left;
  }
}

.newsletter__info-subtitle {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  color: rgb(134, 134, 134);
  line-height: 1.2;
  text-align: center;

  @media (min-width: 420px) {
    font-size: 16px;
  }

  @media (min-width: 720px) {
    text-align: left;
  }
}

.newsletter__btn {
  width: 270px;
  margin: 0 auto;
  margin-top: 40px;

  @media (min-width: 1000px) {
    margin: 0;
  }
}
