mixin article-card(checked, star, img, alt, title, ratings)
	.article__card
		a(href="#").article__card-link
		.article__card-img
			a(href="#").article__card-img-link.open Open
			img(src="./img/articles/" + img, alt= alt)
		.article__card-title
			h4 #{title}
		.article__card-text
			if block
				block
			else
		.article__card-rating
			form.article__card-rating-form
				+rating(checked, star)
			.article__card-rating-visited #{ratings} Ratings