mixin article-card(checked, img, alt, title, ratings)
	.article__card(data-checked = checked)
		a(href="#").article__card-link
		.article__card-img
			a(href="#").article__card-img-link.open Open
			img(src="./img/articles/" + img, alt= alt)
		.article__card-title
			h4 #{title}
		.article__card-text
			if block
				block
			else
		.article__card-rating
			form.article__card-rating-form.raiting
				<input type="radio" id="star-5" name="rating" value="5">
				<label for="star-5" title="rating «5»"></label>	
				<input type="radio" id="star-4" name="rating" value="4">
				<label for="star-4" title="rating «4»"></label>    
				<input type="radio" id="star-3" name="rating" value="3">
				<label for="star-3" title="rating «3»"></label>  
				<input type="radio" id="star-2" name="rating" value="2">
				<label for="star-2" title="rating «2»"></label>    
				<input type="radio" id="star-1" name="rating" value="1">
				<label for="star-1" title="rating «1»"></label>
			.article__card-rating-visited #{ratings} Ratings