mixin cards-carousel-item(img, link, title, subtitle, visited, checked)
	.cards-carousel-item(data-checked = checked)
		.cards-carousel-item__img
			img(src="./img/cards-carousel/" + img, alt="cards-carousel-01")
		a(href= link).cards-carousel-item__link.open Open
		.cards-carousel-item__info
			.cards-carousel-item__info-text
				h6.cards-carousel__info-text-title #{title}
				h4.cards-carousel__info-text-subtitle #{subtitle}
			.cards-carousel-item__info-visited
				form.cards-carousel__info-visited-raiting
					+rating(checked)
				.cards-carousel__info-visited-quantity #{visited} Visited

