mixin catalog-carry()
    .catalog-carry
        .catalog-carry-item
            +radio('Without Carry On', 'catalog-carry-radio-without', 'catalog-carry-radio')(checked='checked')
        .catalog-carry-item
            +radio('With Carry On', 'catalog-carry-radio-with', 'catalog-carry-radio')