mixin catalog-question(question01, link01, question02, link02)
    .catalog-question
        a(href= link01).catalog-question__link #{question01}
        a(href= link02).catalog-question__link #{question02}
