mixin catalog-class()
    .catalog-class
        .catalog-class__item
            +radio('First Class', 'catalog-radio-first-class', 'catalog-radio-class')
        .catalog-class__item
            +radio('Business', 'catalog-radio-business', 'catalog-radio-class')
        .catalog-class__item
            +radio('Coach', 'catalog-radio-coach', 'catalog-radio-class')(checked='checked')
