mixin catalog-nav-btn(title, active)
    button.catalog-nav-btn(type='button' class=active)
        span #{title}
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="7px"> <path fill-rule="evenodd"  fill="rgb(134, 134, 134)" d="M5.080,0.694 L10.066,3.679 L10.066,6.539 L5.080,3.536 L0.099,6.663 L0.099,3.679 L5.080,0.694 L5.080,0.694 Z"/> </svg>
