mixin meta(text)
    .meta
        p.meta__text #{text}
        button.meta__btn(type='button')
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11px" height="11px"> <path fill-rule="evenodd"  fill="rgb(134, 134, 134)" d="M11.000,1.107 L9.892,-0.001 L5.500,4.391 L1.108,-0.001 L-0.001,1.107 L4.392,5.499 L-0.001,9.891 L1.108,10.999 L5.500,6.607 L9.892,10.999 L11.000,9.891 L6.607,5.499 L11.000,1.107 Z"/> </svg>