mixin rating(checked, star)
	.rating(data-checked=checked)
		input(type="radio" id="star-5" + star name="rating" value="5")
		label(for="star-5" + star title="rating «5»")
		input(type="radio" id="star-4" + star name="rating" value="4")
		label(for="star-4" + star title="rating «4»")
		input(type="radio" id="star-3" + star name="rating" value="3")
		label(for="star-3" + star title="rating «3»")
		input(type="radio" id="star-2" + star name="rating" value="2")
		label(for="star-2" + star title="rating «2»")
		input(type="radio" id="star-1" + star name="rating" value="1")
		label(for="star-1" + star title="rating «1»")