.catalog-class {
  position: relative;
  width: 100%;
  padding: 23px 20px 23px 20px;
  z-index: 100;
  background: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}
