.catalog-class {
  position: relative;
  width: 100%;
  padding: 23px 20px 23px 20px;
  z-index: 100;
  background: #fff;
  border-radius: 6px;
  display: flex;
  min-height: 80px;
  flex-direction: column;
  
  @media (min-width: 420px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
