.reviews__list-item {
  position: relative;
  padding: 25px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 480px) {
    flex-direction: row;
  }

  @media (min-width: 600px) {
    padding: 25px 5px 25px 25px;
  }

  @media (min-width: 720px) {
    padding: 25px 5px 25px 60px;
  }
}

.reviews__list-info {
  display: flex;
  align-items: center;
  min-width: 140px;
  flex-direction: row;
  
  @media (min-width: 480px) {
    flex-direction: column;
    margin-right: 15px;
  }

  @media (min-width: 600px) {
    min-width: 220px;
    flex-direction: row;
    margin-right: 45px;
  }
}

.reviews__list-info-avatar {
  display: inline-block;
  min-width: 96px;
  max-width: 96px;
  height: 96px;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 600px) {
  .reviews__list-info-avatar + .reviews__list-info-col {
    margin-left: 20px;
    margin-top: 0;
  }
}

@media (min-width: 480px) {
  .reviews__list-info-avatar + .reviews__list-info-col {
    margin-left: 0px;
  }
}

.reviews__list-info-avatar + .reviews__list-info-col {
  margin-top: 20px;
  margin-left: 20px;
}

.reviews__list-info-col {

}

.reviews__list-message {
  position: relative;
  max-width: 770px;
  padding: 5px 0px;
  margin-top: 30px;

  @media (min-width: 480px) {
    margin-top: 0px;
  }

  &::before {
    position: absolute;
    content: "";
    background: #e2e2e2;
    width: 50%;
    height: 2px;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 480px) {
      left: -15px;
      top: 0;
      width: 2px;
      height: 100%;
      transform: translateX(0);
    }

    @media (min-width: 600px) {
      left: -25px;
    }
  }
}

.reviews__list-info-name,
.reviews__list-info-country {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  color: rgb(134, 134, 134);
  line-height: 1.2;
}

.reviews__list-message-title,
.reviews__list-message-data {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  color: #343434;
  line-height: 1.2;
}

.reviews__list-message-data {
  margin-bottom: 20px;
}

.reviews__list-message-text {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto-Regular";
  color: rgb(134, 134, 134);
  font-style: italic;
  line-height: 1.2;
}
